*{
    margin:0px;
    padding:0px;
}
body{
    overflow-x: hidden;
}
.head .nav .models .dropdown{
    display:none;
}
.head .nav .models:hover .dropdown{
    display: block;
    position: absolute;
    width: 215px;
    box-shadow: 4px 4px 10px 6px #31363f;
    border-radius: 20px;
    background-color: black;
    left: -30px;
}
.head .nav .models .dropdown a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
    height: 45px;
}
.head .nav .models .dropdown a:hover {
    background-color: #2A2D2E;
    box-shadow: 4px 4px 10px 6px #31363f;
    transform: scale(1.05);
}
.head .nav .models .dropdown .model1:hover {
    border-radius: 20px 20px 0px 0px;
}
.head .nav .models .dropdown .model6:hover {
    border-radius: 0px 0px 20px 20px;
}
.head .welcome{
    background-image:url(../images/devices1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}